.brindes-area {
    max-width: 1330px;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(500px, 1fr));
    gap: 50px;
    place-items: center;
    

}