.especialista {
    padding: 50px 0;
    background-color: $bg-grey;
    & .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    & h2 {
        color: $fourth;
    }
    & h3 {
        width: 600px;
        color: $fourth;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.professor {
    width: 80%;
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    & img {
        height: 173px;
        width: 200px;
    }
}

.professor-nome {
    text-align: left;
    & h4 {
        color: $secundary;
    }
    & p {
        color: $fourth;
        font-size: 1.2em;
        font-weight: 400;
    }
    
}