.aluno-item {
    padding: 25px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #7a7a7a21;
    border-radius: 5px;
    & .aluno-ft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        & h5, h4 {
            margin: 0;
        }
        & h4 {
            color: $secundary;
            font-weight: 700;
        }
        & h5 {
            color: $fourth;
            font-weight: 400;
        }
    }
}