.bonus-item {
    margin: 25px 0;
    & img {
        background-color: #fff;
        position: relative;
        bottom: -25px;
        left: -20px;
    }
}

.bonus-description {
    padding: 20px 40px;
    border: solid 1px #4E56FF;
    border-radius: 5px;
    & h3 {
        font-size: 1.4em;
        font-weight: 400;
    }
    & p {
        color: $fourth;
        font-size: 1.1em;
        font-weight: 400;
    }
}