.garantia {
    background-color: $primery;
    padding: 70px 0;
    color: #fff;
    & .div {
        margin: 100px 0;
    }
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.garantia-incondicional {
    display: grid;
    grid-template-columns: 550px 400px;
    place-items: center;
    gap: 100px;
    
}

.garantia-texto {
    font-weight: 300;
    line-height: 1.5em;
}

.garantia-duvidas {
    text-align: center;
    & h3 {
        font-size: 1.5em;
    }
    & h4 {
        font-size: 1.2em;
        font-weight: 300;
    }
}

.menu-sanfona {
    padding: 20px 0;
    width: 100%;
}

.safona-item {
    margin: 10px 0;
}

.sanfona {
    background-color: #444AC7;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-radius: 10px 10px 10px 10px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    & strong {
        margin-right: 10px;
    }
    & p {
        font-weight: 300;
    }
  }
  
  
  .active, .sanfona:hover {
    background-color: #444bc78a;
    border-radius: 10px 10px 0 0;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    margin: 0 auto;
    height: 0;
    width: 80%;
    background-color: #3C41AE;
    overflow: hidden;
    transition-duration: .8s;
    border-radius: 0 0 10px 10px;
    font-family: 'Montserrat', sans-serif;
    & p {
        padding: 20px 25px;
        margin: 0;
        color: #fff;
        font-size: 1em;
    }
    
  }